/*********** Breadcrumbs *********/

.nv-bc-count-wrap {
    flex-wrap: wrap;
}

.woocommerce-result-count {
    display: none;
}

nav[aria-label="breadcrumb"] {
	display: block;
    font-size: 14px;
	color: var(--text);
    font-weight: 400;
    margin: 0 auto !important;    
    max-width: 1210px;
    line-height: 24px;
}


.breadcrumb {
    display: flex;
    margin-left: -15px;
    min-width: 100vw;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: unset;
    scroll-snap-type: x proximity;
    scroll-snap-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    align-items: stretch;       
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 36px;
    display: flex;
    align-items: center;

    li, li:after {
        padding: 6px 0;
        display: flex !important;
        align-items: center;

        a {
            text-decoration: underline;
        }
    }

    li.active:after {
        display: none !important;
    }

    li:last-child {
        padding-right: 15px;
    }

    .breadcrumb li:first-child {
        padding-left: 0 !important;
    }
}

.woocommerce .woocommerce-breadcrumb{
    display: block;
    font-size: 14px;
	color: var(--text);
    font-weight: 400;
    margin: 0 auto;    
    max-width: 1210px;
    line-height: 24px;
    margin: 0 -20px;
}

.woocommerce .woocommerce-breadcrumb {
    display: flex;
    margin-left: -15px;
    min-width: 100vw;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    flex-wrap: unset;
    scroll-snap-type: x proximity;
    scroll-snap-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    align-items: stretch;       
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 36px;
    display: flex;
    align-items: center;

    a {
        padding: 6px 0;
        display: inline-flex;
        align-items: center;
        text-decoration: underline;
    }

    a:first-child {
        margin-left: 20px;
    }

    a:last-child {
        padding-right: 15px;
    }
}

.breadcrumb li::after {
    content: 'chevron_right' !important;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    color: var(--text);
    direction: ltr;
}