/********** Buttons **********/
.button.button-primary,
button,
input[type="button"],
.btn,
input[type="submit"],
ul[id^="nv-primary-navigation"] li.button.button-primary > a,
.menu li.button.button-primary > a,
.wp-block-button.wp-block-button__link,
.wc-block-grid .wp-block-button .wp-block-button__link,
.woocommerce *:not(.woocommerce-mini-cart__buttons) > a.button,
.woocommerce
    *:not(.woocommerce-mini-cart__buttons)
    > .button:not(.nv-sidebar-toggle):not(.nv-close-cart-sidebar):not([name="apply_coupon"]):not(.more-details):not(.checkout-button),
.woocommerce a.button.alt,
.woocommerce a.button.button-primary,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce a.button.add_to_cart,
.woocommerce a.product_type_grouped,
.woocommerce a.product_type_external,
.woocommerce a.product_type_variable,
.woocommerce button.button.alt,
.woocommerce button.button.alt.single_add_to_cart_button.disabled,
.woocommerce button.button.alt.single_add_to_cart_button,
.woocommerce .actions > button[type="submit"],
.woocommerce button#place_order,
.woocommerce .return-to-shop > .button,
.button.woocommerce-form-login__submit,
.woocommerce #review_form #respond input#submit,
.woocommerce-cart .woocommerce .wc-proceed-to-checkout > a.button.checkout-button,
.woocommerce-checkout #payment .place-order button#place_order,
.woocommerce-account.woocommerce-edit-account
    .woocommerce
    .woocommerce-MyAccount-content
    p
    > button[type="submit"][name="save_account_details"].woocommerce-Button.button,
.wc-block-product-search .wc-block-product-search__button:not(:disabled):not([aria-disabled="true"]),
form input[type="submit"],
form button[type="submit"],
#comments input[type="submit"],
.um input[type=submit].um-button {
    transition: 0.2s all ease-in-out;
}

.button.button-primary:hover,
ul[id^="nv-primary-navigation"] li.button.button-primary > a:hover,
.menu li.button.button-primary > a:hover,
.wp-block-button .wp-block-button__link:hover,
.wc-block-grid .wp-block-button .wp-block-button__link:hover,
.woocommerce *:not(.woocommerce-mini-cart__buttons) > a.button:hover,
.woocommerce
    *:not(.woocommerce-mini-cart__buttons)
    > .button:not(.nv-sidebar-toggle):not(.nv-close-cart-sidebar):not([name="apply_coupon"]):not(.more-details):hover,
.woocommerce a.button.alt:hover,
.woocommerce a.button.button-primary:hover,
.woocommerce a.button.checkout-button:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce a.button.add_to_cart:hover,
.woocommerce a.product_type_grouped:hover,
.woocommerce a.product_type_external:hover,
.woocommerce a.product_type_variable:hover,
.woocommerce button.button.alt.single_add_to_cart_button.disabled:hover,
.woocommerce button.button.alt.single_add_to_cart_button:hover,
.woocommerce .actions > button[type="submit"]:hover,
.woocommerce button#place_order:hover,
.woocommerce .return-to-shop > .button:hover,
.button.woocommerce-form-login__submit:hover,
.um input[type=submit].um-button:hover
{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}


.wp-block-buttons.alignfull {
    width: 100%;
    max-width: 100vw;
    padding: 0 15px;
    margin: 0;
}

