/* ---------- Card ---------- */
.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: auto;
    box-shadow: var(--card-shadow);
    position: relative;
    text-align: left;
    border: var(--border);
    margin-bottom: 20px;
    align-self: stretch !important;
    transition: all 0.3s ease-in-out;

    p {
        font-size: 14px;
    }

    a {
        text-decoration: none !important;
        color: var(--primary);

    }

    h3, p {
        padding: 0 20px;
    }

    h3 {
        padding-top: 10px;
        font-size: 16px;

        a {
            text-decoration: none;
        }
        

        &.is-link  {
            padding: 0;
            margin: 0;
            height: 100%;
            max-height: 48px;
            display: flex;
            align-items: center;

            & a {
                width: 100%;
                display: block;
                text-decoration: none !important;
            }
        }
    }

    .wp-block-buttons {
        padding: 0 20px 10px 20px;
        margin-top: auto;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .wp-block-image {
        margin-bottom: 0;
        border: none;
        border-radius: unset;

        &.has-padding {
            padding: 20px 0;
        }
    }

    form {
        padding: 0 20px;

        .gform_heading, .gform_title {
            margin: 0 !important;
            padding: 0 !important;
        }

        .ginput_container_consent {
            display: flex;

            label {
                margin-left: 10px;
                margin-top: -6px;
            }
        }

        li {
            padding: 0 !important;
            margin: 0 !important;
        }

        .ginput_container {
            margin-top: 0 !important;
        }
        
        .gform_wrapper, .gform_footer {
            margin: 0 !important;
            margin: 0 !important;
        }
    }

    h3.is-full-link {
        margin: -10px 0 0 0;
        padding: 0;
        
        a {
            display: block;
            padding: 10px 20px;
            width: 100%;
            color: var(--text-dark);
        }
    }

    .has-hover:hover {
        transition: border none;
        border-color: rgba(109, 7, 7, 0.2);
    }
    
}

@media (min-width: 600px) and (max-width: 959px) {
    .card.wp-block-column:not(:only-child) {
        flex-basis: calc(25% - 20px) !important;
    }
}

@media (min-width: 960px) {
    .card {
        box-shadow: none;
    }
}

/* CARD IS HORIZONTAL */
.card.is-horizontal {
    max-width: calc(50% - 20px);

    h3 {
        line-height: 20px;
        max-height: 40px;
        font-size: 14px;
        a {
            line-height: 20px;
            color: var(--text-dark);
        }
    }
}


@media (min-width: 768px) {
    .card.is-horizontal {
    
        h3 {
            a {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 960px) {
    .card {
        box-shadow: none;
    }

    .card.is-horizontal {
        flex-direction: row;
        align-items: center;
        border: none;
        width: 25%;
    
        & figure {
            max-width: 72px;
            max-height: 72px;
        }
    
        h3 {
            flex: 1;
            max-height: 40px;
            a {
                padding: 16px;
                color: var(--text-dark);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                min-height: 72px;
            }
        }
    }
}


