/*********** Facets **********/

.bapf_divi_sfa h3, .divi_checkbox_class h3, .divi_color_class h3, .divi_image_class h3, .divi_slider_class h3, .bapf h3 {
    color: var(--text-dark);
    font-weight: var(--strong);
    font-size: 0.875rem;
    border-bottom: var(--border);
    margin: 0 0 20px;
    padding-bottom: 0;
    width: 100%;
    position: relative;
    line-height: 1.5rem;
}

.bapf_sfilter.bapf_ckbox input[type=checkbox], .bapf_sfilter.bapf_ckbox label, .bapf_sfilter.bapf_ckbox label+span, .bapf_sfilter.bapf_ckbox label>span {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 0.875rem;    
}

.bapf_sfa_taxonomy li {
    margin-right: 4px;
}

.braapf_unselect, a.braapf_unselect_all, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a {
    background: var(--nv-light-bg);
    padding: 0 12px 0 36px;
    color: var(--text-dark);
    line-height: 32px !important;
    border-radius: 20px;
    font-weight: var(--strong);
    position: relative;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    transition: var(--transition);
    font-size: 14px;
    border-left: none !important;

    & i {
        display: none;
    }

    &:before {
        display: inline-block;
        content: 'cancel';
        height: 16px;
        width: 16px;
        opacity: 0.5;
        margin-right: 4px;
        background-repeat: no-repeat;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: var(--transition);
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px !important;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        color: var(--header-text);
        direction: ltr;     
    }

    &:hover {
        color: var(--text-dark);
        text-decoration: none;
        background: #e0e0e0;
        border-left: none !important;


        &:before {
            opacity: 0.6;
     
        }
    }
}

.bapf_sfa_taxonomy, .bapf_sfa_unall {
    width: fit-content;
    margin: 4px 0 0 4px;
    display: inline-block;

    span {
        display: none;
    }
}


.nv-sidebar-wrap.shop-sidebar.sidebar-open {
    z-index: 99999;
}

.bapf_sfilter ul li {
    display: inline-block;
}
