/*********** Footer **********/

footer {
	border-top: var(--border);
}

.footer--row-inner {
	padding-top: 20px;
}

.copyright-text, .copyright-text a {
	font-size: 0.625rem !important;
}

footer p, footer span, footer a, footer li {
	font-size: 0.875rem;
}

footer a:hover {
	color: var(--nv-dark-bg) !important;
}

.builder-item--footer_copyright {
	font-weight: 400;
	text-align: center;
}

@media (max-width: 960px) {
	.footer--row .builder-item {
		width: 100%;
		max-width: 50%;
		font-size: 0.75rem;
	}

	.builder-item--footer_copyright {
		width: calc(100vw - 2rem);
		margin-top: 1rem;
    }
}

