/********** Header **********/

.header {

    #header-grid {
        box-shadow: var(--header-shadow);
        border-bottom: var(--header-border);
    }
    

    .site-logo {     
        img {
            max-height: 40px;
        }
    }

    input {
        
        &[type="search"] {
            border-radius: var(--search-border-radius) !important;
        }
    }
}

.my-account, .cart-icon {
    &-wrapper {
        display: flex;
        flex-direction: column;
        transition: var(--transition);
        height: 100%;
        justify-content: center;
        align-items: center;

        &:hover {
            /*background: rgba(0,0,0,0.1);*/
            border-radius: var(--border-radius);
        }
    }

    &-label {
        text-transform: uppercase;
        font-weight: var(--strong);
        font-size: 14px !important;
        color: var(--header-text);
        margin: 0 !important;
    }


}

.my-account-wrapper {
    .my-account-icon {
        margin: 0 !important;
        padding: 0 12px;
        max-width: 24px;
    
        &:after {
            content: "account_circle";
        }
        img {
            display: none;
        }
    }
}

.cart-icon-wrapper {
    flex-wrap: wrap;
    width: max-content;
    flex-direction: row;

    .nv-cart svg {
        display: none;
    }
    
    .nv-cart:after {
        content: "shopping_cart";
    }

    span {
        min-width: fit-content;
        display: inline-block;

        &.cart-icon-label {
            order: 3;
            width: 100%;
            text-align: center;
            flex-grow: 1;                
        }

        &.nv-cart {
            order: 1;   
            justify-content: center;
            width: fit-content;
        }

        &.cart-count {
            order: 2;
            background: var(--cart-count-color);
            border: 2px solid #fff;
            font-size: 12px;
            padding: 3px 6.7px;
            border-radius: 20px;
            line-height: 14px;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-weight: var(--strong);
            min-width: 24px;
            margin-left: -10px;
            margin-top: 8px;
        }

        &.screen-reader-text {
            width: 0;
            flex-grow: 0;
            max-width: 0;
        }

    }
}

@media (min-width: 840px) and (max-width: 960px)  {
    .primary-menu-ul .nav-ul {
        justify-content: center;
    }
}

@media (min-width: 960px) {
	.builder-item {
		margin-top: 0;
		margin-bottom: 0;
    }
    
	.primary-menu-ul .sub-menu li a {
    justify-content: left !important;
    }

    .hfg_header .header-bottom-inner .nav-ul .sub-menu {
		box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
		border-radius: var(--border-radius);
        font-size: 0.875rem;
        line-height: 22px;
    }
  
    .nav-ul>.menu-item-has-children > .sub-menu {
        left: 0;
        right: unset;
        top: 38px;
    }

    .nav-ul>.menu-item-has-children > .sub-menu > li > .sub-menu{
        left: 100%;
        right: auto;
        top: 0;
    }

    .builder-item--primary-menu svg {
        width: 12px;
        height: 12px;
    }
}

.caret {
    padding: 6px;
    margin-left: 0;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a {
    display: flex;
}

span.menu-item-title-wrap {
    flex-grow: 1;
}

.nav-ul .sub-menu li  {

    transition: var(--transition);
    
    a:hover {
        background-color: var(--nv-light-bg)
    }

    /*&:hover {*/
        &:first-child a:hover {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }
   
        &:last-child a:hover {
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    /*}*/

    /*a:hover {
	    background-color: var(--nv-light-bg);
    }*/

    
}

.menu-item-nav-search.canvas .nv-nav-search {
    top: 56px;
    align-items: baseline;

    & .close-container {
   position: absolute;
    top: -56px;
	background: #fff;
	padding: 0;
	height: 56px;
	border-bottom: 1px solid var(--light-bg);
    box-shadow: var(--app-bar-shadow);	
    overflow: visible;
    }
}

button.close-responsive-search {
    padding: 16px;
	max-height: 56px;
	max-width: 56px;
}

.builder-item--header_search input[type=search]:focus {
    outline-color: var(--nv-primary-accent);
}

.builder-item--header_search input[type=submit], .builder-item--header_search .nv-search-icon-wrap {
    width: 24px;
    height: 40px;
    background: var(--nv-primary-accent);
    color: #fff;
    border-top-right-radius: var(--search-border-radius) !important;
    border-bottom-right-radius: var(--search-border-radius) !important;
    overflow: hidden;
}

.builder-item--header_search .nv-search-icon-wrap .nv-icon svg {
    width: 14px;
    height: 14px;
    fill: #fff;
}

.hfg_header .header-bottom-inner .nav-ul .sub-menu {
    background-color: var(--nv-site-bg);
}

.sub-menu a {
    color: var(--text-dark) !important;

    &:hover:after {
        background-color: transparent !important;
    }
}

.header-contact {
    .wp-block-group__inner-container {
        display: flex;

        figure {
            margin-right: 4px;
            margin-bottom: 0;
            max-height: 24px;
        }

        p {
           margin: 0;
           line-height: 24px;


           a {
            font-weight: var(--strong);
            padding-right: 10px;
            margin-right: 10px;
            line-height: 24px;
            display: inline-block;

            &:hover {
                color: var(--primary);
                text-decoration: none;
               }
           }

           
        }

    }    

}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > a {
    &:focus {
        text-decoration: unset;
    }
}

.cart-off-canvas.cart-open {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;
}