/********** hero **********/

.hero {
    padding: 0;

    & .wp-block-cover {
        min-height: var(--hero-height);
        border-radius: 0;
    }
}

.wp-block-cover .wp-block-cover__image-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
	display:flex;
}