/*img {
    border-radius: var(--border-radius);
}*/

.woocommerce ul.products li.product .nv-product-image img, .wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
	aspect-ratio: 1 / 1;
    height: auto;
    border: unset;
}