
.card a p {
 font-size: 14px;
}



#nv-primary-navigation-sidebar li a {
	color: var(--nv-text-color);
}

@media (max-width: 1024px) {
	.builder-item.hfg-item-last.col-3.col-md-3.col-sm-3.desktop-left.tablet-left.mobile-left {
		display: none;
	}	
}

a.see-all {
	padding-left: 10px;
	line-height: 20px;
	font-size: 20px;
	color: var(--text-dark);
}


.see-all::before {
	content: "|";
	padding-right: 10px;
}

@media (max-width: 1180px) {
	.header-bottom .builder-item.hfg-item-last.col-3.desktop-left.offset-1 {
		display: none;
	}
	
.header-bottom .builder-item.has-nav.hfg-item-first.col-8.desktop-left {
		flex: 0 0 100%;
    max-width: 100%;
	}
}

h2.woocommerce-loop-category__title {
		color: var(--nv-dark-bg);
    font-weight: var(--strong);
    line-height: 1.25rem;
	font-size: 1rem;
}

@media (min-width: 960px) {
	li.product-category {
			width: calc(33.33% - 20px);
			margin: 10px !important;
	}
}

.woocommerce ul.products li.product .price {
 	font-size: 1rem;
}

@media screen and (max-width: 425px) {
	.wp-block-columns.ms.ms-40 .wp-block-column {
			min-width: 40vw;
	}
}

.iconic-wlv-terms__term--current .iconic-wlv-terms__term-content {
  border-radius: var(--border-radius);  
	border: 1px solid var(--secondary);
    background: #e8f4fc;
    font-weight: bold;
}

.iconic-wlv-terms__term-content {
    display: block;
    border: var(--border);
	  border-radius: var(--border-radius);  
		color: var(--text);
    font-weight: bold;	
}

.iconic-wlv-terms__term-content:hover {
 		color: var(--text);   
}

@media (min-width: 960px) {
body.woocommerce-page.desktop-columns-3 ul.products>li.product, body.woocommerce.desktop-columns-3 ul.products>li.product {
    width: 30.8%;
    margin-right: 3.8%;
    border: var(--border);
    border-radius: var(--border-radius);
	}
}

.shop_attributes a[rel="tag"] {
    pointer-events: none;
    cursor: default;
    color: #888;
		font-style: normal;
}



.woocommerce-loop-product__title {
	padding-top: 0px;
}