
/* Lists */
.excerpt-wrap ol, .excerpt-wrap ul, .nv-content-wrap ol, .nv-content-wrap ul {
    margin-bottom: 20px;
}

.excerpt-wrap ul, .nv-content-wrap ul, .woocommerce.single #tab-description ul, .woocommerce.single .entry-summary ul {
    list-style-type: disc;
}

excerpt-wrap ol li, .excerpt-wrap ul li, .nv-content-wrap ol li, .nv-content-wrap ul li {
    margin-top: 0;
}