/********** Material Icons **********/
 .nv-icon, .my-account-icon, .material-icon, p.material-icon {
  &:after, &:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    color: var(--header-text);
    direction: ltr;
   }
}

.material-icon, .breadcrumb li::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  color: var(--text);
  direction: ltr;
}