/********** Messages **********/
.woocommerce, .woocommerce-page {
    .woocommerce-error, .woocommerce-message, .woocommerce-info  {
        background: var(--card-bg);
        border: var(--border);
        font-size: .875rem;
        border-radius: var(--border-radius);
        color: var(--dark-bg);
        box-shadow: var(--card-shadow);
    }

    .woocommerce-message, .woocommerce-info {
        border-left: 4px solid var(--info);
        background: var(--background);
        &:before {
            color: var(--info);
        }


        & a {
            font-weight: var(--strong);
        }
    }

    .woocommerce-error {
        border-left: 4px solid var(--warning);
        &:before {
            color: var(--warning);
        }
    }
}