/********** Mobile Menu **********/

.header-menu-sidebar-inner .nav-menu-primary li {
    line-height: 24px;
    padding: 12px 0;
}

.navbar-toggle {
    padding: 10px;
}

.header-menu-sidebar .navbar-toggle-wrapper {
    padding: 12px 10px;
}

#header-menu-sidebar-inner {
    margin-top: -80px;
}

#header-grid {
    border-bottom: var(--header-border);
    box-shadow: var(--header-shadow);
}

@media (max-width: 959px) {
    #nv-primary-navigation-bottom {
    	display: flex;
		margin-left: -16px;
		min-width: 100vw;
		flex-direction: row;
		overflow-x: auto;
        overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		flex-wrap: unset;
		scroll-snap-type: x proximity;
		scroll-snap-align: center;
		justify-content: flex-start;
		align-items: flex-start;
		border: none;
		scroll-behavior: smooth;
		scroll-padding: 16px;
        align-items: stretch;       
        white-space: nowrap;
        height: 48px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        height: 48px;
 

        .caret-wrap {
            display: none;
        }

        li {
            flex-wrap: nowrap;
            padding: 0;
        }

        li:first-child {
            padding-left: 20px;
        }

        li:last-child {
            padding-right: 20px;
        }
    }
}

@media (max-width: 959px) { 
    .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a {
        color: var(--text-dark) !important;
    }

    .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > .current-menu-item > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) .current-menu-item > a {
        color: var(--secondary) !important;
    }
}
