/********* Mobile slider **********/

@media screen and (max-width:768px) {
	
	.wp-block-columns.ms:after {
		display: block;
		width: 0;
		content: "*";
		opacity: 0;	
	}

	.wp-block-columns.ms {
		display: flex;
		margin-left: -16px;
		padding: 16px 0;
		width: 100vw;
		flex-direction: row;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		flex-wrap: unset;
		scroll-snap-type: x proximity;
		scroll-snap-align: center;
		justify-content: flex-start;
		align-items: flex-start;
		border: none;
		scroll-behavior: smooth;
		scroll-padding: 16px;
		align-items: stretch;
	}

	.wp-block-columns.ms .wp-block-column  {
		min-width: 40vw;
		scroll-snap-align: center;
		margin-left: 1rem;
	}
	
	.wp-block-columns.ms .wp-block-column:last-child  {
		margin-right: 0.5rem;
	}
}	

@media screen and (max-width:425px) {

	.wp-block-columns.ms .wp-block-column  {
		min-width: 70vw;
		scroll-snap-align: center;
		margin-left: 1rem;
	}
}
