/********** Product Addons **********/

.pewc-groups-standard {
    width: 100%;

    h3 {
        font-weight: var(--strong);
    }

    ul {
        padding-left: 0 !important;
    }
}

.pewc-group-content-wrapper {

}

.pewc-group-content-wrapper h4 a {
    color: Var(--text-dark);
    font-size: 16px;
}

.pewc-group-content-wrapper {
    box-shadow: none;
}

.pewc-checkbox-image-wrapper {

    img  {
        width: 72px;
        height: auto;
        aspect-ratio: 1/1;
    }
}

.pewc-column-wrapper .pewc-checkbox-image-wrapper {
    display: grid;
    grid-template-columns: 72px 1fr;
    grid-gap: 16px;
    margin-bottom: 16px;
}