/********** Search **********/
.search {

    .entry-title a {
        font-size: 24px;
        color: var(--nv-dark-bg);
    }
    .article-content-col .content {
        border-radius: var(--border-radius);
        /*border: var(--border);*/
        padding: 20px;
        border-bottom: var(--border);
        margin-bottom: 20px;
        align-items: top;            
    }
}

@media (min-width: 960px) {
    .neve-main {
        display: flex;
        align-items: end;
    }
}
