/********** SEO press **********/
footer .sp-opening-hours {

    margin-top: 0;

    & tr {
        font-size: 14px;
    }

    & th, td {
        border-bottom: none;
        padding: 0;
        line-height: 24px;
        margin-top: 5px;
    }
    & th {
        font-weight: 400;
    }
}