/********** Sidebar test **********/

aside {
    & p.widget-title {
        color: var(--nv-dark-bg);
    }

    & ul {
        & li {
            min-height: 36px;
            margin: 0 !important;

            & a {
                width: 100%;
                border-left: 3px solid var(--nv-light-bg);
                line-height: 20px;
                padding: 10px 20px;
                color: var(--text);
                display: block;
                font-weight: var(--strong);
                transition: all 0.3s ease-in-out;

                &:hover {
                    border-left: 3px solid var(--nv-primary-accent);   
                    background-color: var(--nv-light-bg);   
                    color: var(--nv-dark-bg);
                    text-decoration: none;            
                }
            }
        }
    }
}

@media (min-width: 960px) {
    .nv-sidebar-wrap {
        &.shop-sidebar {
            max-width: 280px;
        }
        &.nv-left {
            padding-right: 20px;
        }

        span.count {
            position: absolute;
            right: 39px;
            margin-top: -34px;
        }   
    } 

    .archive.woocommerce .neve-main > .shop-container .nv-sidebar-wrap {
        max-width: 30%;
        height: 100%;
        margin-right: 20px;
    }
}