/********** Subcategories ********/

.subcategories {
    padding-bottom: 20px;
    border-bottom: var(--border);
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-wrap: wrap;
    

    li.product-category {

        margin: 0 !important;
    
        a {
            display: flex;
            align-items: center;
            border-radius: var(--border-radius);
            border: var(--border);
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            margin: 10px;
            background: #fff;

            &:hover {
                -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
                border-color: rgba(109, 7, 7, 0.2);
                text-decoration: none;
            }

            picture {
                display: flex;
            }
        }

        
        h2 {
            margin-bottom: 0;
            color: var(--text-dark);
            line-height: 20px;
            padding: 16px 12px;
            overflow: hidden;
            text-overflow: ellipsis;      
            word-wrap: break-word;
            font-size: 14px;
        }
        .count {
            display: none;
        }



        img {
            max-width: 72px;
            width: 100%;
            aspect-ratio: 1 / 1;
            height: auto;
        }
    }
}

@media (max-width: 425px) {
    .subcategories {
        display: flex;
		margin-left: -16px;
		min-width: 100vw;
		flex-direction: row;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		flex-wrap: unset;
		scroll-snap-type: x proximity;
		scroll-snap-align: center;
		justify-content: flex-start;
		align-items: flex-start;
		border: none;
		scroll-behavior: smooth;
		scroll-padding: 16px;
        align-items: stretch;       
        white-space: nowrap;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        li.product-category a {
            width: 40vw;
            flex-direction: column;
            max-width: 40vw;


            img {
                max-width: 100%;
                width: 100%;
                aspect-ratio: 1 / 1;
                height: auto;
            }

        }

        & h2 {
            text-align: left;
            display: block;
            width: 100%;
            padding: 12px 16px;
        }
    }

}

@media (min-width: 426px) {
    .subcategories {
        margin: 0 -10px;
    }

	li.product-category {
        width: 33.33%;
        margin: 10px !important;

        a {
            max-height: 72px;
        }
    }
}

