/********* Typography *********/

body {
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  direction: ltr;
  word-wrap: normal;
}

h1, h2, h3, h4 {
  color: var(--nv-dark-bg);
}

.has-nv-dark-bg-color {

  a {
    color: var(--nv-dark-bg);
    text-decoration: none !important;

    &:hover {
      color: var(--nv-primary-accent) !important;
    }
  }
}

.has-nv-site-bg-color a {
  color: var(--nv-site-bg);
}

:focus {
  outline-color: transparent;
  outline-width: 0;
}

strong {
  font-weight: var(--strong);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--important);
  }
}

p {
  line-height: 1.5;
}