/********** USP **********/

.usp.wp-block-group {
    padding: 0;

    .wp-block-image {
        margin: 0 10px 0 0;
        border: none;
        max-height: 24px;
        opacity: var(--icon-opacity);
    }

    p {
        margin: 0;
        line-height: 18px;
        font-size: 0.875rem;
        
        &strong {
            text-transform: uppercase;
        }
    }

    .wp-block-column {
        display: flex;
        min-width: fit-content;
        align-items: center;
    }

    .wp-block-group__inner-container {
            width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .usp .ms {
        padding: 0;
        max-width: 60vw;
    }      
}

@media screen and (max-width: 959px) {

    .usp.wp-block-group .wp-block-columns {
    	display: flex;
		margin-left: -16px;
		max-width: 100vw;
		flex-direction: row;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		flex-wrap: unset;
		scroll-snap-type: x proximity;
		scroll-snap-align: center;
		justify-content: flex-start !important;
		align-items: flex-start;
		border: none;
		scroll-behavior: smooth;
		scroll-padding: 16px;
        align-items: stretch;       
        white-space: nowrap;
        height: 48px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        height: 48px;
        max-width: 100vw !important;
        width: 100%;
        padding-left: 20px;

        &:after {
            content: " ";
            min-width: 10px;
            display: block;
        }
    }
   
    .usp .wp-block-column { 
        width: fit-content;
        min-width: fit-content;
    }
}

@media screen and (min-width: 960px) {
    .usp {
        .wp-block-columns, .wp-block-group__inner-container {
            width: 100%;
            max-width: 1170px !important;
        }
    }
}