/*********** Utilities **********/

.is-dimmed {
    opacity: 0.5;
}

.has-rounded-corners {
	border-radius: var(--border-radius);
}

.has-padding {
	padding: 20px;
}

.has-small-padding {
	padding: 10px;
}


.is-white a {
	color: white !important;
}

.has-elevation {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;

	&:hover {
		box-shadow: 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important;
	}
}

.has-hover:hover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.has-padding-right {
	padding-right: 40px;
}

.is-desaturated {
	filter: grayscale(100%);
	opacity: 0.5;
	transition: var(--transition);

	&:hover {
		filter: grayscale(0%);
		opacity: 1;
	}
}

.has-no-border-radius {
	border-radius: 0 !important
}

.is-banner {
	border-radius: var(--border-radius);
	padding: 20px !important;
}

.has-no-margin {
	margin: 0 !important;
	overflow: visible;

	& table {
		margin: 0 !important;
		margin-top: -20px !important;
	}

	.wp-block-table .has-fixed-layout {
		margin: 0 !important;
		margin-top: -20px !important;
	}
}

.has-normal-font-size {
	font-size: 1rem !important;
}