/********** Variable products ********/



.nv-vswatches-wrapper .nv-vswatch-item.nv-vswatch-active:not(.color) {
    border-color: var(--nv-primary-accent);
    border-radius: var(--border-radius);     

    .nv-vswatch-label {


        &:hover  {
            background: var(--light-grey);
        }
    }

    &.nv-vswatch-active label {
        background: var(--light-grey);
    }
}

.nv-vswatches-wrapper .nv-vswatch-item.label {
    border-radius: var(--border-radius); 
}

.woocommerce div.product form.cart .variations label.nv-vswatch-label {
    font-weight: var(--strong);
    padding: 8px 16px;
    line-height: 24px;
}

li.nv-vswatch-item.label {

}