/********** Variables **********/

$info: #1976d2;
$warning: #ff8f00;
$success: #2e7d32;
$important: var(--nv-c-2);
$error: #d32f2f;
$border-radius: 4px;
$border-color: #E0E0E0;
$border: 1px solid var(--border-color);
$header-shadow: none;
$header-bg: #fff;
$header-border: var(--border);
$cart-count-color: var(--secondary);
$card-bg: #fff;
$card-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
$card-img-padding: 0;
$transition: all 0.3s ease-in-out;
$icon-opacity: 0.6;
$strong: 500;
$hero-height: calc(75vh - 122px);
$search-border-radius: var(--border-radius);

:root {

	/* Colors */
	--primary: var(--nv-primary-accent);
	--primary-text: #fff;
	--secondary: var(--nv-secondary-accent);
	--secondary-text: var(--text-dark);	
	--light-grey: var(--nv-light-bg);
	--text: var(--nv-text-color);
	--text-dark: var(--nv-dark-bg);
	--info: #{$info};
	--warning: #{$warning};
	--error: #{$error};
	--success: #{$success};
	--important: #{$important};  
	--link-color: var(--primary);
	--header-text: var(--text-dark);

	/* basic */
	--border-radius: #{$border-radius};  
	--border-color: #{$border-color};  	
	--border: #{$border};  
	--cart-count-color: #{$cart-count-color};	
	--transition: #{$transition};
	--icon-opacity: #{$icon-opacity};		
	--hero-height: #{$hero-height};	
	--search-border-radius: #{$search-border-radius};
	--strong: #{$strong};

	/* Shadow */
	--header-shadow: #{$header-shadow};  
	--header-border: #{$header-border};  	
	--header-bg: #{$header-bg};  		

	/* Card */
	--card-bg: #{$card-bg};
	--card-shadow: #{$card-shadow};
	--card-img-padding: #{$card-img-padding};	
}


/*	--font-size: 0.875rem;
	--primary-contrast: #fff;
*/