/********** WC -blocks **********/

.wc-block-grid .wc-block-grid {

    &__product {

        &-link {
            text-decoration: none !important;

            &:hover .wc-block-grid__product-title {
                color: var(--nv-secondary-accent);
            }
        }

        &-image {
            margin: 0;
            display: flex;
            border-radius: var(--border-radius);
            
        }

        &-title {
            padding-top: 0.5rem;
            font-size: 1rem;
            color: var(--text);
            font-weight: 400;
            margin: 0;
            line-height: 1.25rem;
        }

        &-price {
            font-size: 1rem;
            color: var(--nv-dark-bg);
            font-weight: var(--strong);
        }

        &-onsale {
            background-color: var(--secondary);
            color: var(--secondary-text);
            border: none !important;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: var(--border-radius);
            font-size: 0.75rem;
            text-transform: uppercase;
            line-height: 1.25rem;
            padding: 0 4px;
            font-weight: var(--strong);
        }
    }  
}


@media (max-width: 480px) {
    .wc-block-grid.has-4-columns .wc-block-grid__products, .wc-block-grid.has-6-columns .wc-block-grid__products {
        display: flex;
    }

    .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-6-columns .wc-block-grid__product {
        margin: 10px;
        flex: 1 0 calc(50% - 20px) !important;
        max-width: calc(50% - 20px) !important;
        padding: 0;
        border: none;
    }

    .wc-block-grid .wc-block-grid__product-price, .wc-block-grid .wc-block-grid__product-title {
        font-size: 0.875rem;
    }
}

