/********** Woo Description ********/
.woo-second-description-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    border-top: var(---border);
}

.woo-second-description {
    padding: 0 20px 20px 20px;
}

.CategoryFooterContent {
    padding-bottom: 10px;
}

.woocommerce-products-header ul {
    list-style: disc;
    margin-left: 20px;
}


@media (min-width: 960px) {
    .woo-second-description {
        margin-left: 310px;
        width: 100%;
        max-width: calc(100% - 310px);
        padding: 0 40px 20px 40px;        
    }
}