/********** Woocomemrce **********/


.woocommerce div.product .stock {
    color: var(--nv-secondary-accent);
    font-weight: var(--strong);
}



.woocommerce div.product .woocommerce-tabs ul.tabs li {
    & a {
        display: inline-block;
        padding: 0.5em 0;
        font-weight: var(--strong);
        color: var(--nv-dark-bg);
    }

    &:active a {
        color: var(--primary-accent);
    }
    
}


.woocommerce ul.products li.product h3, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

