/********** Woocommerce Tabs **********/


$secondarytext: var(--nv-text-color);
$contentbg: var(--nv-light-bg);

.woocommerce div.product .woocommerce-tabs {

	ul.tabs {
		li {
			a {
				font-weight: var(--strong);

				&:hover {
					color: var(--nv-dark-bg) !important;
					opacity: 1;					
				}
			}

			&.active {
				border-bottom: 2px solid var(--nv-dark-bg);

				a {
					color: var(--nv-dark-bg);
				}

				&::before {
					box-shadow: 2px 2px 0 var(--nv-text-color);
				}

				&::after {
					box-shadow: -2px 2px 0 var(--nv-text-color);
				}
			}

			&::before,
			&::after {
				border: 1px solid var(--border-color);
				}

		}

		&::before {
			border-bottom: 1px solid var(--border-color);

		}
	}
}