/********** Woocommerce products **********/

.woocommerce div.product {
    .stock {
        color: var(--text-dark);
        font-weight: var(--strong);
        background: var(--nv-light-bg);
        border-radius: var(--border-radius);
        font-size: 0.75rem !important;
        padding:0.125rem 0.5rem;
        width: max-content;
        display: block;
        text-transform: uppercase;
        line-height: 1.25rem;
        cursor: default;
        margin-top: 20px;
    }
}

.woocommerce ul.products li.product h3, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product .woocommerce-loop-category__title {
    font-size: 0.875rem;
    color: var(--text);
    font-weight: 400;
    margin: 0;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    padding: 0;
    padding-top: 0.5rem;
    transition: all 0.2s ease-in-out;    
}

.woocommerce ul.products li.product a:not(.nv-quick-view-product) {
   
    &:hover h2 {
        color: var(--nv-secondary-accent);
        text-decoration: none;
    }
}

.nv-product-content  {
    padding: 0 10px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce ul.products li.product .price {
    color: var(--text-dark);
}

.woocommerce .nv-shop > .products {
    margin: 0 -10px;
}

.woocommerce span.onsale {
    border-radius: var(--border-radius);
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    padding: 0 4px;
    font-weight: var(--strong);
}

.woocommerce ul.products li.product .woocommerce-loop-category__title{
    font-weight: 5var(--strong)00;
}

.woocommerce ul.products li.product .onsale {
    top: 4px;
    left: 4px;
}

.woocommerce.single .quantity input {
    line-height: 22px !important;
}

@media (min-width: 960px) {
    .woocommerce-page.desktop-columns-2 ul.products>li.product, .woocommerce.desktop-columns-2 ul.products>li.product {
        width: calc(50% - 20px) !important;
        margin: 10px !important;
    }

    .woocommerce-page.desktop-columns-3 ul.products>li.product, .woocommerce.desktop-columns-3 ul.products>li.product {
        width: calc(33.33% - 20px) !important;
        margin: 10px !important;
    }

    .woocommerce-page.desktop-columns-4 ul.products>li.product, .woocommerce.desktop-columns-4 ul.products>li.product {
        width: calc(25% - 20px) !important;
        margin: 10px !important;
    }

    .nv-sidebar-wrap.nv-left+.nv-index-posts:not(:only-child) {
        padding: 20px !important;
        margin-right: 0 !important;
    }

}


@media (max-width: 576px)  {
    .woocommerce-page.mobile-columns-2 ul.products>li.product, .woocommerce.mobile-columns-2 ul.products>li.product {
        width: calc(50% - 20px) !important;
        margin: 10px !important;
    }    
}

.woocommerce tbody {
    background: transparent;
}


.product-heading {
    margin-top: 20px;
}

.woocommerce.single .entry-summary ul li {
    margin-bottom: 0;
}

.woocommerce div.product p.price {
    color: var(--important);
    font-size: 18px;
    font-weight: var(--strong);
}

.nv-product-image .img-wrap, .woocommerce-product-gallery__image img, .flex-control-thumbs img, .wc-block-grid__product-image img {
    border-radius: var(--border-radius);
}

.woocommerce table.shop_attributes td a, .woocommerce table.shop_attributes td p {
    /*color: var(--text);
    font-style: unset;
    pointer-events: none;*/
    font-style: normal;
}

.woocommerce table.shop_attributes th {
    font-weight: var(--strong);
    color: var(--text-dark);
}

.related.products {
    display: inline-block;
}

.woocommerce div.product .product_title {
    margin-bottom: 0;
}

.woocommerce div.product p.price {
    margin-bottom: 40px;
}

.woocommerce-product-details__short-description p {
    line-height: 1.4;
    margin-bottom: 10px;
}