/********** WP block column **********/

.wp-block-columns {
    margin: 0 -10px;
}

.wp-block-column {
    margin: 10px !important;
}

@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 20px)!important;
    }
}

/* MOBILE VIEWS */
@media (max-width: 425px) {
    .wp-block-columns.m2 .wp-block-column {
        max-width: calc(50% - 20px) !important;
        flex-basis: calc(50% - 20px)!important;
    }
}


