.wp-block-group {
    padding: 20px 0;
	display: flex;
    justify-content: center;
}

.wp-block-group__inner-container {
	width: 100%;
}

.wp-block-image {
    margin-bottom: 10px;
	border-radius: var(--border-radius);
	overflow: hidden;

	a {
		display: flex;
	}
}

.wp-block-cover {
	border-radius: var(--border-radius);
	overflow: hidden;

	.wp-block-cover__inner-container {
		text-shadow: 2px 2px 48px rgba(22,23,31,.39);
	}

	p {

		&.has-text-align-center .has-normal-font-size {
			max-width: 420px;
			margin: 20px auto;
		}

		&.has-large-font-size {
			max-width: 560px;

			&.has-text-align-center {
				margin: 20px auto;
			}
		}

		&.has-huge-font-size {
			max-width: 600px;

			&.has-text-align-center {
				margin: 20px auto;
			}
		}
	}
}


@media (max-width: 480px) {
    .wc-block-grid.has-4-columns .wc-block-grid__products {
        display: flex;
    }

    .wc-block-grid.has-4-columns .wc-block-grid__product {
        margin: 10px;
        flex: 1 0 calc(50% - 20px) !important;
        max-width: calc(50% - 20px) !important;
        padding: 0;
        border: none;
    }

    .wc-block-grid .wc-block-grid__product-price, .wc-block-grid .wc-block-grid__product-title {
        font-size: 0.875rem;
    }
}