@charset "UTF-8";
/*
Theme Name:     Neve Child
Theme URI:      https://themeisle.com/themes/neve/
Template: neve
Author:         ThemeIsle
Author URI:     https://themeisle.com
Description:    Neve is a super fast, easily customizable, multi-purpose theme. It’s perfect for blogs, small business, startups, agencies, firms, e-commerce shops (WooCommerce storefront) as well as personal portfolio sites and most types of projects. A fully AMP optimized and responsive theme, Neve will load in mere seconds and adapt perfectly on any viewing device. While it is lightweight and has a minimalist design, the theme is highly extendable, it has a highly SEO optimized code, resulting in top rankings in Google search results. Neve works perfectly with Gutenberg and the most popular page builders (Elementor, Brizy, Beaver Builder, Visual Composer, SiteOrigin, Divi). Neve is also WooCommerce ready, responsive, RTL & translation ready. Look no further. Neve is the perfect theme for you!
Version:        1.2.6.2
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    neve
Tags: blog, custom-logo, e-commerce, rtl-language-support, post-formats, grid-layout, one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, accessibility-ready, wide-blocks, block-styles

* 1.2.0 - SCSS
* 1.2.1 - Minor bug fixes + Scrollable breadcrumbs
* 1.2.2 - Minor bug fixes
* 1.2.3 - Add support for subcategories on category pages
* 1.2.4 - Fixed all missing basics issuesfeatures
* 1.2.5 - Minor bug fixes
* 1.2.6 - T&V compability
* 1.2.7.3 - Material Design Icon update
*/
/********** Variables **********/
:root {
  /* Colors */
  --primary: var(--nv-primary-accent);
  --primary-text: #fff;
  --secondary: var(--nv-secondary-accent);
  --secondary-text: var(--text-dark);
  --light-grey: var(--nv-light-bg);
  --text: var(--nv-text-color);
  --text-dark: var(--nv-dark-bg);
  --info: #1976d2;
  --warning: #ff8f00;
  --error: #d32f2f;
  --success: #2e7d32;
  --important: var(--nv-c-2);
  --link-color: var(--primary);
  --header-text: var(--text-dark);
  /* basic */
  --border-radius: 4px;
  --border-color: #E0E0E0;
  --border: 1px solid var(--border-color);
  --cart-count-color: var(--secondary);
  --transition: all 0.3s ease-in-out;
  --icon-opacity: 0.6;
  --hero-height: calc(75vh - 122px);
  --search-border-radius: var(--border-radius);
  --strong: 500;
  /* Shadow */
  --header-shadow: none;
  --header-border: var(--border);
  --header-bg: #fff;
  /* Card */
  --card-bg: #fff;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --card-img-padding: 0;
}

/*	--font-size: 0.875rem;
	--primary-contrast: #fff;
*/
/*@import 'scss/breakpoints';*/
/* ---------- Card ---------- */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: var(--border-radius);
  overflow: hidden;
  height: auto;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  position: relative;
  text-align: left;
  border: var(--border);
  margin-bottom: 20px;
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card p {
  font-size: 14px;
}

.card a {
  text-decoration: none !important;
  color: var(--primary);
}

.card h3, .card p {
  padding: 0 20px;
}

.card h3 {
  padding-top: 10px;
  font-size: 16px;
}

.card h3 a {
  text-decoration: none;
}

.card h3.is-link {
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h3.is-link a {
  width: 100%;
  display: block;
  text-decoration: none !important;
}

.card .wp-block-buttons {
  padding: 0 20px 10px 20px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card .wp-block-image {
  margin-bottom: 0;
  border: none;
  border-radius: unset;
}

.card .wp-block-image.has-padding {
  padding: 20px 0;
}

.card form {
  padding: 0 20px;
}

.card form .gform_heading, .card form .gform_title {
  margin: 0 !important;
  padding: 0 !important;
}

.card form .ginput_container_consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card form .ginput_container_consent label {
  margin-left: 10px;
  margin-top: -6px;
}

.card form li {
  padding: 0 !important;
  margin: 0 !important;
}

.card form .ginput_container {
  margin-top: 0 !important;
}

.card form .gform_wrapper, .card form .gform_footer {
  margin: 0 !important;
  margin: 0 !important;
}

.card h3.is-full-link {
  margin: -10px 0 0 0;
  padding: 0;
}

.card h3.is-full-link a {
  display: block;
  padding: 10px 20px;
  width: 100%;
  color: var(--text-dark);
}

.card .has-hover:hover {
  -webkit-transition: border none;
  transition: border none;
  border-color: rgba(109, 7, 7, 0.2);
}

@media (min-width: 600px) and (max-width: 959px) {
  .card.wp-block-column:not(:only-child) {
    -ms-flex-preferred-size: calc(25% - 20px) !important;
        flex-basis: calc(25% - 20px) !important;
  }
}

@media (min-width: 960px) {
  .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* CARD IS HORIZONTAL */
.card.is-horizontal {
  max-width: calc(50% - 20px);
}

.card.is-horizontal h3 {
  line-height: 20px;
  max-height: 40px;
  font-size: 14px;
}

.card.is-horizontal h3 a {
  line-height: 20px;
  color: var(--text-dark);
}

@media (min-width: 768px) {
  .card.is-horizontal h3 a {
    font-size: 16px;
  }
}

@media (min-width: 960px) {
  .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card.is-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    width: 25%;
  }
  .card.is-horizontal figure {
    max-width: 72px;
    max-height: 72px;
  }
  .card.is-horizontal h3 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-height: 40px;
  }
  .card.is-horizontal h3 a {
    padding: 16px;
    color: var(--text-dark);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 72px;
  }
}

/********** Header **********/
.header #header-grid {
  -webkit-box-shadow: var(--header-shadow);
          box-shadow: var(--header-shadow);
  border-bottom: var(--header-border);
}

.header .site-logo img {
  max-height: 40px;
}

.header input[type="search"] {
  border-radius: var(--search-border-radius) !important;
}

.my-account-wrapper, .cart-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-account-wrapper:hover, .cart-icon-wrapper:hover {
  /*background: rgba(0,0,0,0.1);*/
  border-radius: var(--border-radius);
}

.my-account-label, .cart-icon-label {
  text-transform: uppercase;
  font-weight: var(--strong);
  font-size: 14px !important;
  color: var(--header-text);
  margin: 0 !important;
}

.my-account-wrapper .my-account-icon {
  margin: 0 !important;
  padding: 0 12px;
  max-width: 24px;
}

.my-account-wrapper .my-account-icon:after {
  content: "account_circle";
}

.my-account-wrapper .my-account-icon img {
  display: none;
}

.cart-icon-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart-icon-wrapper .nv-cart svg {
  display: none;
}

.cart-icon-wrapper .nv-cart:after {
  content: "shopping_cart";
}

.cart-icon-wrapper span {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: inline-block;
}

.cart-icon-wrapper span.cart-icon-label {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart-icon-wrapper span.nv-cart {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cart-icon-wrapper span.cart-count {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: var(--cart-count-color);
  border: 2px solid #fff;
  font-size: 12px;
  padding: 3px 6.7px;
  border-radius: 20px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: var(--strong);
  min-width: 24px;
  margin-left: -10px;
  margin-top: 8px;
}

.cart-icon-wrapper span.screen-reader-text {
  width: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 0;
}

@media (min-width: 840px) and (max-width: 960px) {
  .primary-menu-ul .nav-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 960px) {
  .builder-item {
    margin-top: 0;
    margin-bottom: 0;
  }
  .primary-menu-ul .sub-menu li a {
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  .hfg_header .header-bottom-inner .nav-ul .sub-menu {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: var(--border-radius);
    font-size: 0.875rem;
    line-height: 22px;
  }
  .nav-ul > .menu-item-has-children > .sub-menu {
    left: 0;
    right: unset;
    top: 38px;
  }
  .nav-ul > .menu-item-has-children > .sub-menu > li > .sub-menu {
    left: 100%;
    right: auto;
    top: 0;
  }
  .builder-item--primary-menu svg {
    width: 12px;
    height: 12px;
  }
}

.caret {
  padding: 6px;
  margin-left: 0;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span.menu-item-title-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-ul .sub-menu li {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /*&:hover {*/
  /*}*/
  /*a:hover {
	    background-color: var(--nv-light-bg);
    }*/
}

.nav-ul .sub-menu li a:hover {
  background-color: var(--nv-light-bg);
}

.nav-ul .sub-menu li:first-child a:hover {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.nav-ul .sub-menu li:last-child a:hover {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.menu-item-nav-search.canvas .nv-nav-search {
  top: 56px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-item-nav-search.canvas .nv-nav-search .close-container {
  position: absolute;
  top: -56px;
  background: #fff;
  padding: 0;
  height: 56px;
  border-bottom: 1px solid var(--light-bg);
  -webkit-box-shadow: var(--app-bar-shadow);
          box-shadow: var(--app-bar-shadow);
  overflow: visible;
}

button.close-responsive-search {
  padding: 16px;
  max-height: 56px;
  max-width: 56px;
}

.builder-item--header_search input[type=search]:focus {
  outline-color: var(--nv-primary-accent);
}

.builder-item--header_search input[type=submit], .builder-item--header_search .nv-search-icon-wrap {
  width: 24px;
  height: 40px;
  background: var(--nv-primary-accent);
  color: #fff;
  border-top-right-radius: var(--search-border-radius) !important;
  border-bottom-right-radius: var(--search-border-radius) !important;
  overflow: hidden;
}

.builder-item--header_search .nv-search-icon-wrap .nv-icon svg {
  width: 14px;
  height: 14px;
  fill: #fff;
}

.hfg_header .header-bottom-inner .nav-ul .sub-menu {
  background-color: var(--nv-site-bg);
}

.sub-menu a {
  color: var(--text-dark) !important;
}

.sub-menu a:hover:after {
  background-color: transparent !important;
}

.header-contact .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact .wp-block-group__inner-container figure {
  margin-right: 4px;
  margin-bottom: 0;
  max-height: 24px;
}

.header-contact .wp-block-group__inner-container p {
  margin: 0;
  line-height: 24px;
}

.header-contact .wp-block-group__inner-container p a {
  font-weight: var(--strong);
  padding-right: 10px;
  margin-right: 10px;
  line-height: 24px;
  display: inline-block;
}

.header-contact .wp-block-group__inner-container p a:hover {
  color: var(--primary);
  text-decoration: none;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > a:focus {
  text-decoration: unset;
}

.cart-off-canvas.cart-open {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

/********** Input **********/
/********** Messages **********/
.woocommerce .woocommerce-error, .woocommerce .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-info {
  background: var(--card-bg);
  border: var(--border);
  font-size: .875rem;
  border-radius: var(--border-radius);
  color: var(--dark-bg);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
}

.woocommerce .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-info {
  border-left: 4px solid var(--info);
  background: var(--background);
}

.woocommerce .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-message:before, .woocommerce-page .woocommerce-info:before {
  color: var(--info);
}

.woocommerce .woocommerce-message a, .woocommerce .woocommerce-info a, .woocommerce-page .woocommerce-message a, .woocommerce-page .woocommerce-info a {
  font-weight: var(--strong);
}

.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error {
  border-left: 4px solid var(--warning);
}

.woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before {
  color: var(--warning);
}

.wp-block-group {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wp-block-group__inner-container {
  width: 100%;
}

.wp-block-image {
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.wp-block-image a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wp-block-cover {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.wp-block-cover .wp-block-cover__inner-container {
  text-shadow: 2px 2px 48px rgba(22, 23, 31, 0.39);
}

.wp-block-cover p.has-text-align-center .has-normal-font-size {
  max-width: 420px;
  margin: 20px auto;
}

.wp-block-cover p.has-large-font-size {
  max-width: 560px;
}

.wp-block-cover p.has-large-font-size.has-text-align-center {
  margin: 20px auto;
}

.wp-block-cover p.has-huge-font-size {
  max-width: 600px;
}

.wp-block-cover p.has-huge-font-size.has-text-align-center {
  margin: 20px auto;
}

@media (max-width: 480px) {
  .wc-block-grid.has-4-columns .wc-block-grid__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wc-block-grid.has-4-columns .wc-block-grid__product {
    margin: 10px;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(50% - 20px) !important;
            flex: 1 0 calc(50% - 20px) !important;
    max-width: calc(50% - 20px) !important;
    padding: 0;
    border: none;
  }
  .wc-block-grid .wc-block-grid__product-price, .wc-block-grid .wc-block-grid__product-title {
    font-size: 0.875rem;
  }
}

/********* Typography *********/
body {
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  direction: ltr;
  word-wrap: normal;
}

h1, h2, h3, h4 {
  color: var(--nv-dark-bg);
}

.has-nv-dark-bg-color a {
  color: var(--nv-dark-bg);
  text-decoration: none !important;
}

.has-nv-dark-bg-color a:hover {
  color: var(--nv-primary-accent) !important;
}

.has-nv-site-bg-color a {
  color: var(--nv-site-bg);
}

:focus {
  outline-color: transparent;
  outline-width: 0;
}

strong {
  font-weight: var(--strong);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--important);
}

p {
  line-height: 1.5;
}

/* Lists */
.excerpt-wrap ol, .excerpt-wrap ul, .nv-content-wrap ol, .nv-content-wrap ul {
  margin-bottom: 20px;
}

.excerpt-wrap ul, .nv-content-wrap ul, .woocommerce.single #tab-description ul, .woocommerce.single .entry-summary ul {
  list-style-type: disc;
}

excerpt-wrap ol li, .excerpt-wrap ul li, .nv-content-wrap ol li, .nv-content-wrap ul li {
  margin-top: 0;
}

/*img {
    border-radius: var(--border-radius);
}*/
.woocommerce ul.products li.product .nv-product-image img, .wc-block-grid__products .wc-block-grid__product-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  border: unset;
}

/********** WC -blocks **********/
.wc-block-grid .wc-block-grid__product-link {
  text-decoration: none !important;
}

.wc-block-grid .wc-block-grid__product-link:hover .wc-block-grid__product-title {
  color: var(--nv-secondary-accent);
}

.wc-block-grid .wc-block-grid__product-image {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: var(--border-radius);
}

.wc-block-grid .wc-block-grid__product-title {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: var(--text);
  font-weight: 400;
  margin: 0;
  line-height: 1.25rem;
}

.wc-block-grid .wc-block-grid__product-price {
  font-size: 1rem;
  color: var(--nv-dark-bg);
  font-weight: var(--strong);
}

.wc-block-grid .wc-block-grid__product-onsale {
  background-color: var(--secondary);
  color: var(--secondary-text);
  border: none !important;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  padding: 0 4px;
  font-weight: var(--strong);
}

@media (max-width: 480px) {
  .wc-block-grid.has-4-columns .wc-block-grid__products, .wc-block-grid.has-6-columns .wc-block-grid__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-6-columns .wc-block-grid__product {
    margin: 10px;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 calc(50% - 20px) !important;
            flex: 1 0 calc(50% - 20px) !important;
    max-width: calc(50% - 20px) !important;
    padding: 0;
    border: none;
  }
  .wc-block-grid .wc-block-grid__product-price, .wc-block-grid .wc-block-grid__product-title {
    font-size: 0.875rem;
  }
}

/********** Sidebar test **********/
aside p.widget-title {
  color: var(--nv-dark-bg);
}

aside ul li {
  min-height: 36px;
  margin: 0 !important;
}

aside ul li a {
  width: 100%;
  border-left: 3px solid var(--nv-light-bg);
  line-height: 20px;
  padding: 10px 20px;
  color: var(--text);
  display: block;
  font-weight: var(--strong);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside ul li a:hover {
  border-left: 3px solid var(--nv-primary-accent);
  background-color: var(--nv-light-bg);
  color: var(--nv-dark-bg);
  text-decoration: none;
}

@media (min-width: 960px) {
  .nv-sidebar-wrap.shop-sidebar {
    max-width: 280px;
  }
  .nv-sidebar-wrap.nv-left {
    padding-right: 20px;
  }
  .nv-sidebar-wrap span.count {
    position: absolute;
    right: 39px;
    margin-top: -34px;
  }
  .archive.woocommerce .neve-main > .shop-container .nv-sidebar-wrap {
    max-width: 30%;
    height: 100%;
    margin-right: 20px;
  }
}

/********* Widgets **********/
.widget p.widget-title {
  font-size: 1.125rem;
}

/********** Mobile Menu **********/
.header-menu-sidebar-inner .nav-menu-primary li {
  line-height: 24px;
  padding: 12px 0;
}

.navbar-toggle {
  padding: 10px;
}

.header-menu-sidebar .navbar-toggle-wrapper {
  padding: 12px 10px;
}

#header-menu-sidebar-inner {
  margin-top: -80px;
}

#header-grid {
  border-bottom: var(--header-border);
  -webkit-box-shadow: var(--header-shadow);
          box-shadow: var(--header-shadow);
}

@media (max-width: 959px) {
  #nv-primary-navigation-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    min-width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    scroll-snap-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    white-space: nowrap;
    height: 48px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: 48px;
  }
  #nv-primary-navigation-bottom .caret-wrap {
    display: none;
  }
  #nv-primary-navigation-bottom li {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0;
  }
  #nv-primary-navigation-bottom li:first-child {
    padding-left: 20px;
  }
  #nv-primary-navigation-bottom li:last-child {
    padding-right: 20px;
  }
}

@media (max-width: 959px) {
  .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a {
    color: var(--text-dark) !important;
  }
  .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > .current-menu-item > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) .current-menu-item > a {
    color: var(--secondary) !important;
  }
}

/*********** Footer **********/
footer {
  border-top: var(--border);
}

.footer--row-inner {
  padding-top: 20px;
}

.copyright-text, .copyright-text a {
  font-size: 0.625rem !important;
}

footer p, footer span, footer a, footer li {
  font-size: 0.875rem;
}

footer a:hover {
  color: var(--nv-dark-bg) !important;
}

.builder-item--footer_copyright {
  font-weight: 400;
  text-align: center;
}

@media (max-width: 960px) {
  .footer--row .builder-item {
    width: 100%;
    max-width: 50%;
    font-size: 0.75rem;
  }
  .builder-item--footer_copyright {
    width: calc(100vw - 2rem);
    margin-top: 1rem;
  }
}

/********* Mobile slider **********/
@media screen and (max-width: 768px) {
  .wp-block-columns.ms:after {
    display: block;
    width: 0;
    content: "*";
    opacity: 0;
  }
  .wp-block-columns.ms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    padding: 16px 0;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    scroll-snap-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .wp-block-columns.ms .wp-block-column {
    min-width: 40vw;
    scroll-snap-align: center;
    margin-left: 1rem;
  }
  .wp-block-columns.ms .wp-block-column:last-child {
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .wp-block-columns.ms .wp-block-column {
    min-width: 70vw;
    scroll-snap-align: center;
    margin-left: 1rem;
  }
}

/*********** Breadcrumbs *********/
.nv-bc-count-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce-result-count {
  display: none;
}

nav[aria-label="breadcrumb"] {
  display: block;
  font-size: 14px;
  color: var(--text);
  font-weight: 400;
  margin: 0 auto !important;
  max-width: 1210px;
  line-height: 24px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  min-width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  scroll-snap-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  scroll-behavior: smooth;
  scroll-padding: 16px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 36px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb li, .breadcrumb li:after {
  padding: 6px 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb li a, .breadcrumb li:after a {
  text-decoration: underline;
}

.breadcrumb li.active:after {
  display: none !important;
}

.breadcrumb li:last-child {
  padding-right: 15px;
}

.breadcrumb .breadcrumb li:first-child {
  padding-left: 0 !important;
}

.woocommerce .woocommerce-breadcrumb {
  display: block;
  font-size: 14px;
  color: var(--text);
  font-weight: 400;
  margin: 0 auto;
  max-width: 1210px;
  line-height: 24px;
  margin: 0 -20px;
}

.woocommerce .woocommerce-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  min-width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
  scroll-snap-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  scroll-behavior: smooth;
  scroll-padding: 16px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 36px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce .woocommerce-breadcrumb a {
  padding: 6px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
}

.woocommerce .woocommerce-breadcrumb a:first-child {
  margin-left: 20px;
}

.woocommerce .woocommerce-breadcrumb a:last-child {
  padding-right: 15px;
}

.breadcrumb li::after {
  content: 'chevron_right' !important;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  color: var(--text);
  direction: ltr;
}

/********** USP **********/
.usp.wp-block-group {
  padding: 0;
}

.usp.wp-block-group .wp-block-image {
  margin: 0 10px 0 0;
  border: none;
  max-height: 24px;
  opacity: var(--icon-opacity);
}

.usp.wp-block-group p {
  margin: 0;
  line-height: 18px;
  font-size: 0.875rem;
}

.usp.wp-block-group pstrong {
  text-transform: uppercase;
}

.usp.wp-block-group .wp-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usp.wp-block-group .wp-block-group__inner-container {
  width: 100%;
}

@media screen and (max-width: 425px) {
  .usp .ms {
    padding: 0;
    max-width: 60vw;
  }
}

@media screen and (max-width: 959px) {
  .usp.wp-block-group .wp-block-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    max-width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    scroll-snap-align: center;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    white-space: nowrap;
    height: 48px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: 48px;
    max-width: 100vw !important;
    width: 100%;
    padding-left: 20px;
  }
  .usp.wp-block-group .wp-block-columns:after {
    content: " ";
    min-width: 10px;
    display: block;
  }
  .usp .wp-block-column {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

@media screen and (min-width: 960px) {
  .usp .wp-block-columns, .usp .wp-block-group__inner-container {
    width: 100%;
    max-width: 1170px !important;
  }
}

/*********** Facets **********/
.bapf_divi_sfa h3, .divi_checkbox_class h3, .divi_color_class h3, .divi_image_class h3, .divi_slider_class h3, .bapf h3 {
  color: var(--text-dark);
  font-weight: var(--strong);
  font-size: 0.875rem;
  border-bottom: var(--border);
  margin: 0 0 20px;
  padding-bottom: 0;
  width: 100%;
  position: relative;
  line-height: 1.5rem;
}

.bapf_sfilter.bapf_ckbox input[type=checkbox], .bapf_sfilter.bapf_ckbox label, .bapf_sfilter.bapf_ckbox label + span, .bapf_sfilter.bapf_ckbox label > span {
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 0.875rem;
}

.bapf_sfa_taxonomy li {
  margin-right: 4px;
}

.braapf_unselect, a.braapf_unselect_all, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a {
  background: var(--nv-light-bg);
  padding: 0 12px 0 36px;
  color: var(--text-dark);
  line-height: 32px !important;
  border-radius: 20px;
  font-weight: var(--strong);
  position: relative;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 14px;
  border-left: none !important;
}

.braapf_unselect i, a.braapf_unselect_all i, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a i {
  display: none;
}

.braapf_unselect:before, a.braapf_unselect_all:before, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a:before {
  display: inline-block;
  content: 'cancel';
  height: 16px;
  width: 16px;
  opacity: 0.5;
  margin-right: 4px;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  color: var(--header-text);
  direction: ltr;
}

.braapf_unselect:hover, a.braapf_unselect_all:hover, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a:hover {
  color: var(--text-dark);
  text-decoration: none;
  background: #e0e0e0;
  border-left: none !important;
}

.braapf_unselect:hover:before, a.braapf_unselect_all:hover:before, .bapf_sfilter.bapf_divi_sfa .berocket_aapf_widget_selected_filter ul li a:hover:before {
  opacity: 0.6;
}

.bapf_sfa_taxonomy, .bapf_sfa_unall {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 4px 0 0 4px;
  display: inline-block;
}

.bapf_sfa_taxonomy span, .bapf_sfa_unall span {
  display: none;
}

.nv-sidebar-wrap.shop-sidebar.sidebar-open {
  z-index: 99999;
}

.bapf_sfilter ul li {
  display: inline-block;
}

/********** WP block column **********/
.wp-block-columns {
  margin: 0 -10px;
}

.wp-block-column {
  margin: 10px !important;
}

@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    -ms-flex-preferred-size: calc(50% - 20px) !important;
        flex-basis: calc(50% - 20px) !important;
  }
}

/* MOBILE VIEWS */
@media (max-width: 425px) {
  .wp-block-columns.m2 .wp-block-column {
    max-width: calc(50% - 20px) !important;
    -ms-flex-preferred-size: calc(50% - 20px) !important;
        flex-basis: calc(50% - 20px) !important;
  }
}

/********** Subcategories ********/
.subcategories {
  padding-bottom: 20px;
  border-bottom: var(--border);
  margin: 0 -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subcategories li.product-category {
  margin: 0 !important;
}

.subcategories li.product-category a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius);
  border: var(--border);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin: 10px;
  background: #fff;
}

.subcategories li.product-category a:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-color: rgba(109, 7, 7, 0.2);
  text-decoration: none;
}

.subcategories li.product-category a picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subcategories li.product-category h2 {
  margin-bottom: 0;
  color: var(--text-dark);
  line-height: 20px;
  padding: 16px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 14px;
}

.subcategories li.product-category .count {
  display: none;
}

.subcategories li.product-category img {
  max-width: 72px;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
}

@media (max-width: 425px) {
  .subcategories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    min-width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    scroll-snap-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: none;
    scroll-behavior: smooth;
    scroll-padding: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .subcategories li.product-category a {
    width: 40vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 40vw;
  }
  .subcategories li.product-category a img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
  }
  .subcategories h2 {
    text-align: left;
    display: block;
    width: 100%;
    padding: 12px 16px;
  }
}

@media (min-width: 426px) {
  .subcategories {
    margin: 0 -10px;
  }
  li.product-category {
    width: 33.33%;
    margin: 10px !important;
  }
  li.product-category a {
    max-height: 72px;
  }
}

/*********** Utilities **********/
.is-dimmed {
  opacity: 0.5;
}

.has-rounded-corners {
  border-radius: var(--border-radius);
}

.has-padding {
  padding: 20px;
}

.has-small-padding {
  padding: 10px;
}

.is-white a {
  color: white !important;
}

.has-elevation {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.has-elevation:hover {
  -webkit-box-shadow: 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.has-hover:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.has-padding-right {
  padding-right: 40px;
}

.is-desaturated {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.is-desaturated:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.has-no-border-radius {
  border-radius: 0 !important;
}

.is-banner {
  border-radius: var(--border-radius);
  padding: 20px !important;
}

.has-no-margin {
  margin: 0 !important;
  overflow: visible;
}

.has-no-margin table {
  margin: 0 !important;
  margin-top: -20px !important;
}

.has-no-margin .wp-block-table .has-fixed-layout {
  margin: 0 !important;
  margin-top: -20px !important;
}

.has-normal-font-size {
  font-size: 1rem !important;
}

/********** hero **********/
.hero {
  padding: 0;
}

.hero .wp-block-cover {
  min-height: var(--hero-height);
  border-radius: 0;
}

.wp-block-cover .wp-block-cover__image-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
  object-fit: cover;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/********** Buttons **********/
.button.button-primary,
button,
input[type="button"],
.btn,
input[type="submit"],
ul[id^="nv-primary-navigation"] li.button.button-primary > a,
.menu li.button.button-primary > a,
.wp-block-button.wp-block-button__link,
.wc-block-grid .wp-block-button .wp-block-button__link,
.woocommerce *:not(.woocommerce-mini-cart__buttons) > a.button,
.woocommerce
*:not(.woocommerce-mini-cart__buttons)
> .button:not(.nv-sidebar-toggle):not(.nv-close-cart-sidebar):not([name="apply_coupon"]):not(.more-details):not(.checkout-button),
.woocommerce a.button.alt,
.woocommerce a.button.button-primary,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce a.button.add_to_cart,
.woocommerce a.product_type_grouped,
.woocommerce a.product_type_external,
.woocommerce a.product_type_variable,
.woocommerce button.button.alt,
.woocommerce button.button.alt.single_add_to_cart_button.disabled,
.woocommerce button.button.alt.single_add_to_cart_button,
.woocommerce .actions > button[type="submit"],
.woocommerce button#place_order,
.woocommerce .return-to-shop > .button,
.button.woocommerce-form-login__submit,
.woocommerce #review_form #respond input#submit,
.woocommerce-cart .woocommerce .wc-proceed-to-checkout > a.button.checkout-button,
.woocommerce-checkout #payment .place-order button#place_order,
.woocommerce-account.woocommerce-edit-account
.woocommerce
.woocommerce-MyAccount-content
p
> button[type="submit"][name="save_account_details"].woocommerce-Button.button,
.wc-block-product-search .wc-block-product-search__button:not(:disabled):not([aria-disabled="true"]),
form input[type="submit"],
form button[type="submit"],
#comments input[type="submit"],
.um input[type=submit].um-button {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.button.button-primary:hover,
ul[id^="nv-primary-navigation"] li.button.button-primary > a:hover,
.menu li.button.button-primary > a:hover,
.wp-block-button .wp-block-button__link:hover,
.wc-block-grid .wp-block-button .wp-block-button__link:hover,
.woocommerce *:not(.woocommerce-mini-cart__buttons) > a.button:hover,
.woocommerce
*:not(.woocommerce-mini-cart__buttons)
> .button:not(.nv-sidebar-toggle):not(.nv-close-cart-sidebar):not([name="apply_coupon"]):not(.more-details):hover,
.woocommerce a.button.alt:hover,
.woocommerce a.button.button-primary:hover,
.woocommerce a.button.checkout-button:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce a.button.add_to_cart:hover,
.woocommerce a.product_type_grouped:hover,
.woocommerce a.product_type_external:hover,
.woocommerce a.product_type_variable:hover,
.woocommerce button.button.alt.single_add_to_cart_button.disabled:hover,
.woocommerce button.button.alt.single_add_to_cart_button:hover,
.woocommerce .actions > button[type="submit"]:hover,
.woocommerce button#place_order:hover,
.woocommerce .return-to-shop > .button:hover,
.button.woocommerce-form-login__submit:hover,
.um input[type=submit].um-button:hover {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.wp-block-buttons.alignfull {
  width: 100%;
  max-width: 100vw;
  padding: 0 15px;
  margin: 0;
}

/********** SEO press **********/
footer .sp-opening-hours {
  margin-top: 0;
}

footer .sp-opening-hours tr {
  font-size: 14px;
}

footer .sp-opening-hours th, footer .sp-opening-hours td {
  border-bottom: none;
  padding: 0;
  line-height: 24px;
  margin-top: 5px;
}

footer .sp-opening-hours th {
  font-weight: 400;
}

/********** Material Icons **********/
.nv-icon:after, .nv-icon:before, .my-account-icon:after, .my-account-icon:before, .material-icon:after, .material-icon:before, p.material-icon:after, p.material-icon:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  color: var(--header-text);
  direction: ltr;
}

.material-icon, .breadcrumb li::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  color: var(--text);
  direction: ltr;
}

/********** Search **********/
.search .entry-title a {
  font-size: 24px;
  color: var(--nv-dark-bg);
}

.search .article-content-col .content {
  border-radius: var(--border-radius);
  /*border: var(--border);*/
  padding: 20px;
  border-bottom: var(--border);
  margin-bottom: 20px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

@media (min-width: 960px) {
  .neve-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

/* End of best practice styling */
/*# sourceMappingURL=website.css.map */